#svg-container svg {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.controls {
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#svg-container svg rect:hover {
    stroke: #666;
    stroke-width: 2;
}

@keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.flicker {
    color: red;
    animation: flicker 1s linear 3;
}

select, button, input[type="file"], #file-name {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px; /* Adjust this value to match your design */
}

button, #file-name {
    background-color: #f4f4f4;
    cursor: pointer;
}

button:hover, #file-upload-btn:hover {
    background-color: #e9e9e9;
}

.file-upload {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#file-name {
    flex-grow: 1;
    margin-right: 10px;
    background-color: #f4f4f4;
    display: block;
    pointer-events: none;
    color: #333; /* Ensure text color matches buttons */
}

#file-upload-btn {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

select, button, input[type="text"], input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
